
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	margin-left: -4px;
	margin-top: -13px;
}
.navbar-brand > img {
	margin-top: -27px;
	margin-left: -9px;
	margin-right: -12px;
	position: relative;
	z-index: 4;
}
.navbar-brand a, a:hover, a:focus {
	color: #f00;
	outline: none;
}
.navbar-nav > li > a {
	padding-top: 16px;
	padding-bottom: 16px;
}
..navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: #fff;
	background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #fff;
	background-color: transparent;
	text-shadow: #fff 0 0 4px;
	outline: none;
}
 .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: #fff;
	background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a {
	background-color: transparent;
	outline: none;
}
.navbar {
	margin-bottom: 0px;
}
.navbar-header h2 {
	margin-top: 11px;
	margin-left: 30px;
	color: #ffffff;
	float: left;
}
.slider .carousel-caption {
	position: relative;
}